<%= form_tag create_session_path, class: "form-group center" do %>
  <div class="form-inline">
    <div class="col-sm-12 form-group"></br>
      <label for="name" class="white control-label">name         </label>
      <%= text_field_tag(:name, nil, {placeholder: "john smith", id: "name", class: "black"})  %>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group"></br>
      <label for="email" class="white control-label">email         </label>
      <%= text_field_tag(:email, nil, {placeholder: "js1999@hotmail.com", id: "email", class: "black", type: "email"})  %>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group"></br>
      <label for="password" class="white control-label">password  </label>
      <%= password_field_tag(:password, nil, { id: "password", class: "black", type: "password" })  %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 black center"></br>
      <%= submit_tag "submit", class: "black btn btn-default" %>
    </div>
  </div>
<% end %>
