<%= form_for(@comment, class: "form-group" ) do |f| %>
  <div class="row">
    <div class="col-sm-12 black center"></br>
      <label for="body" class="white" style="vertical-align: top;">new comment</label>
      <%= f.text_area(:body, {rows: 5, cols: 60, placeholder: "LOLOLOLOLOL", id: "body"})  %>
    </div>
  </div>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :post_id, value: @post.id %>
  <div class="row">
    <div class="col-sm-12 black center"></br>
      <%= f.submit "submit", class: "black btn btn-default" %>
    </div>
  </div>
<% end %>
