<%= form_tag(create_comment_path, class: "form-group" ) do %>
  <div class="row">
    <div class="col-sm-12 black center"></br>
      <label for="body" class="subtitle white">new comment</label>
      <%= text_area_tag(:body, nil, {rows: 10, cols: 60, placeholder: "LOLOLOLOLOL", id: "body"})  %>
    </div>
  </div>
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= hidden_field_tag :post_id, @post.id %>
  <div class="row">
    <div class="col-sm-12 black center"></br>
      <%= submit_tag "submit", class: "black btn btn-default" %>
    </div>
  </div>
<% end %>
