<div class="col-sm-5 subtitle">users</div>
<div class="col-sm-1 subtitle">carma</div>
<div class="col-sm-1 subtitle">post count</div>
<div class="col-sm-1 subtitle">comment count</div>

<% @users.each do |user| %>
  <div class="col-sm-2"><%= image_tag(user.avatar) %></div>
  <div class="col-sm-3"><%= user.name %></div>
  <div class="col-sm-1"><%= user.carma %></div>
  <div class="col-sm-1"><%= user.posts.count %></div>
  <div class="col-sm-1"><%= user.comments.count %></div>
<% end %>
