<%= form_tag create_user_path do %>
  <div class="subtitle2 left black"><span class="white">name: </span><%= text_field_tag(:name)  %></div>
  <div class="subtitle2 left black"><span class="white">avatar url: </span><%= text_field_tag(:avatar)  %></div>
  <div class="subtitle2 left black"><span class="white">email: </span><%= text_field_tag(:email)  %></div>
  <div class="subtitle2 left black"><span class="white">password: </span><%= password_field_tag(:password)  %></div>
  <div class="subtitle2 left black"><span class="white">confirm password: </span><%= password_field_tag(:password_confirmation)  %></div>
  <div class="subtitle2 left"><%= submit_tag "submit", class: "black" %></div>
<% end %>
