<%= form_for(User.new, class: "form-group") do |f| %>
  <div class="form-inline">
    <div class="col-sm-12 form-group center"></br>
      <label for="name" class="white control-label">name                    </label>
      <%= f.text_field(:name, {placeholder: "john smith", id: "name", class: "black"})  %>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group center"></br>
      <label for="avatar" class="white control-label">avatar url              </label>
      <%= f.text_field(:avatar, {placeholder: "catpics.com/cat1.jpg", id: "avatar", class: "black"})  %>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group center"></br>
      <label for="email" class="white control-label">email                     </label>
      <%= f.text_field(:email, {placeholder: "js1999@hotmail.com", id: "email", class: "black", type: "email"})  %>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group center"></br>
      <label for="password" class="white control-label">password              </label>
      <%= f.password_field(:password, { id: "password", class: "black", type: "password" })  %>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group center"></br>
      <label for="password_confirmation" class="white control-label">confirm password</label>
      <%= f.password_field(:password_confirmation, { id: "password_confirmation", class: "black", type: "password" })  %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 black center"></br>
      <%= submit_tag "submit", class: "black btn btn-default" %>
    </div>
  </div>
<% end %>
