<%= form_tag(create_post_path, class: "form-group" ) do %>
  <div class="form-inline">
    <div class="col-sm-12 form-group"></br>
      <label for="title" class="white control-label">title  </label>
      <%= text_field_tag(:title, nil, {placeholder: "!?!?!?!?!", id: "title", class: "black"})  %>
    </div>
  </div>
  <div class="form-inline">
    <div class="col-sm-12 form-group"></br>
      <label for="body" class="white control-label" style="vertical-align: top;">body</label>
      <%= text_area_tag(:body, nil, {rows: 10, cols: 60, placeholder: "LOLOLOLOLOL", id: "body", class: "black"})  %>
    </div>
  </div>
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= hidden_field_tag :subrebbit_id, @subrebbit.id %>
  <div class="row">
    <div class="col-sm-12 black center"></br>
      <%= submit_tag "submit", class: "black btn btn-default" %>
    </div>
  </div>
<% end %>

