<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rebbit</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-sm-1 header"><%= image_tag("rebbitor.png", height: "57") %></div>
      <div class="col-sm-4 header">
        <%= link_to("rebbit", welcome_index_path, class: "header") %>
      </div>
      <div class="col-sm-4 header">
        <% if @current_user %>
          <%= "Hello, #{@current_user.name}" %>
        <% else %>
          <%= " " %>
        <% end %>
      </div>
      <div class="col-sm-3 sidebar">
        <% if flash[:notice] || flash[:alert] %>
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, { class: "flash #{name}" }) %>
          <% end %>
        <% else %>
          <div class="row header"> </div>
        <% end %>
      </div>
      <div class="col-sm-9"><%= yield %></div>
      <div class="col-sm-3 sidebar">
        <ul>
          <li> <%= link_to 'sign up', new_user_path, class: "sidebar" %></li>
            <% if logged_in? %>
              <li><%= link_to 'logout', logout_path, class: "sidebar" %></li>
              <li><%= link_to 'my profile', user_path(@current_user), class: "sidebar" %></li>
            <% else %>
              <li><%= link_to 'login', login_path, class: "sidebar" %></li>
            <% end %>
          <li><%= link_to("about us", about_path, class: "sidebar") %></li>
          <li><%= link_to("all users", users_path, class: "sidebar") %></li>
          <li><%= link_to 'new subbrebbit', new_subrebbit_path, class: "sidebar" %></li>
        </ul>
      </div>


    </div>
  </div>

</body>
</html>


